# Excluir todo por defecto
# /**/*

# Incluir todas las carpetas
!/**/*/

# Excluir node_modules
/node_modules/

# Excluir vendor
/vendor/

# Excluir public
/public/

# Excluir storage
/storage/

# Excluir cache
/bootstrap/cache/

# Excluir Stubs
/stubs/

# Excluir Docker
/docker/

# Excluir todos los archivos
*.*

# Incluir archivos a formatear
!*.html
!*.js
!*.css
!*.scss
!*.json
!*.vue
!*.jsx
!*.php

# Excluir ide helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php

# Include specific file extensions if they appear under a "src" folder
# !/*/*/src/**/*.ts
# !/*/*/src/**/*.tsx
# !/*/*/config/**/*.json
